nats/
node_modules/

bungee/logs/
bungee/modules/
bungee/BungeeCord.jar
bungee/locations.yml
bungee/modules.yml

instances/*/cache/
instances/*/logs/
instances/*/world*
instances/*/Spigot.jar
instances/*/banned-ips.json
instances/*/banned-players.json
instances/*/ops.json
instances/*/usercache.json
instances/*/version_history.json
instances/*/whitelist.json
instances/*/eula.txt
instances/*/help.yml
